@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

h2, h3, p {
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about-fund__title {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.about-fund__text {
  line-height: 130%;
}

.about-fund__text p {
  margin: 1rem 0;
}

.about-fund__text-bold {
  font-weight: 600;
  line-height: 120%;
  margin: 1rem 0;
}

.about-fund__link {
  color: inherit;
}

.mission {
  max-width: 31rem;
  margin: 2.5rem auto;
  text-align: center;
}

.programs {
  margin: 2.5rem auto 6.25rem;
  max-width: 100%;
}
.programs__info {
  max-width: 37.5rem;
  text-align: center;
  margin: 0 auto 2rem;
}
.programs__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.programs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.programs__card-img {
  max-width: 24.5rem;
}
.programs__img {
  width: 100%;
  height: 100%;
}
.programs__card-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  margin: 1.25rem 0 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.programs__card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.story {
  margin: 6.25rem auto 10rem;
}
.story__info {
  max-width: 37.5rem;
  text-align: center;
  margin: 0 auto 3.75rem;
}
.story__card-top {
  max-width: 37.5rem;
  text-align: center;
  margin: 0 auto 6.75rem;
}
.story__card-top-img {
  width: 85%;
  margin: 0 auto 2rem;
}
.story__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7.5rem;
  gap: 3.75rem;
}
.story__cards:nth-child(odd) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.story__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.story .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.story__card-img {
  width: 40%;
  max-width: 31.25rem;
}
.story__img {
  width: 100%;
}
.story__card-text {
  width: 50%;
  max-width: 37.5rem;
}
.story__card-bottom {
  max-width: 31.25rem;
  text-align: center;
  margin: 7.5rem auto 0;
}
.story__card-bottom-img {
  margin: 0 auto 3rem;
}

@media screen and (max-width: 767.98px) {
  .mission {
    max-width: 100%;
  }
  .programs__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .programs__card-text {
    max-width: 100%;
  }
  .story__info {
    max-width: 100%;
  }
  .story__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  .story .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .story__card-img {
    width: 100%;
  }
  .story__card-text {
    width: 100%;
  }
}