@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #000;
$font-stack: 'Montserrat', sans-serif;

body{
    font-family: $font-stack;
    color: $primary-color;
}
h2, h3, p{
    margin: 0;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.about-fund__title{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 120%;
    margin-bottom: 1.25rem;
}
.about-fund__text{
    line-height: 130%;
}
.about-fund__text p{
    margin: 1rem 0;
}
.about-fund__text-bold{
    font-weight: 600;
    line-height: 120%;
    margin: 1rem 0;
}
.about-fund__link{
    color: inherit;
}
.mission{
    max-width: 31rem;
    margin: 2.5rem auto;
    text-align: center;
}

.programs{
    margin: 2.5rem auto 6.25rem;
    max-width: 100%;
    &__info{
        max-width: 37.5rem;
        text-align: center;
        margin: 0 auto 2rem;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    &__card{
        display: flex;
        flex: 0 1 33.333%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        text-align: center;
        align-content: flex-start;
        
    }
    &__card-img{
        max-width: 24.5rem;
        // height: 12.75rem;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
    &__card-title{
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 120%;
        margin: 1.25rem 0 .75rem;
        flex: 1 1 auto;
    }
    &__card-text{
        flex: 1 1 auto;
        width: 100%;
        align-items: baseline;
    }
}

.story{
    margin: 6.25rem auto 10rem;
    &__info{
        max-width: 37.5rem;
        text-align: center;
        margin: 0 auto 3.75rem;
    }
    &__card-top{
        max-width: 37.5rem;
        text-align: center;
        margin: 0 auto 6.75rem;
        &-img{
            width: 85%;
            margin: 0 auto 2rem;
        }
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 7.5rem;
        gap: 3.75rem;
        &:nth-child(odd) {
            align-items: flex-end;
        }
    }
    &__card{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    &__card-img{
        width: 40%;
        max-width: 31.25rem;
    }
    &__img{
        width: 100%;
    }
    &__card-text{
        width: 50%;
        max-width: 37.5rem;
    }
    &__card-bottom{
        max-width: 31.25rem;
        text-align: center;
        margin: 7.5rem auto 0;
        &-img{
            margin: 0 auto 3rem;
        }
    }
}

// @media screen and (max-width: 991.98px){
//     .programs{
//         &__cards{
//             flex-wrap: wrap;
//             justify-content: center;
//         }
//         &__card{
//             margin-top: 2.5rem;
//         }
//         &__card-text{
//             max-width: 60%;
//         }
//     }
// }

@media screen and (max-width: 767.98px){
    .mission{
        max-width: 100%;
    }
    .programs{
        &__cards{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card-text{
            max-width: 100%;
        }
    }
    .story{
        &__info{
            max-width: 100%;
        }
        &__card{
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 2.5rem;
        }
        .reverse {
            flex-direction: row;
        }
        &__card-img{
            width: 100%;
        }
        &__card-text{
            width: 100%;
        }
    }
}